{
  "plugins": [
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": [
    [ "@babel/env", {
      "targets": {
        "node": "6.11.5"
      },
      "browsers": [
        ">0.5%",
      ]
    }]
  ]
}
