{
  "plugins": [
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": [
    [ "@babel/env", {
      "targets": [
        ">0.5%", {
          "node": "6.11.5",
        }
      ]
    }]
  ]
}
